{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/realtor.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/singleProperty.css' %}">
{% endblock %}



{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-3">
            <img src="{{ realtor.image }}" class="img-responsive" alt="profilePicture" width="200" height="200">
            <p>{{ realtor.name }}</p>
{#            <button type="submit" class="btn btn-lg btn-block">Breyta mynd</button>#}
        </div>

        <div class="col-6">
            <div class="container">
                 <div class="row justify-content-center">
                    <form method='POST'>
                     <div class="col">
                         <div class="contact-form">
                                {% csrf_token %}
{#                             <select id="example-xss" multiple="multiple">#}
{#                              <option value="" disabled selected>Veldu stöðu/r</option>#}
{#                              <option value="1">{{ realtor.email }}</option>#}
{#                              <option value="2">Germany</option>#}
{#                              <option value="3">France</option>#}
{#                              <option value="4">Poland</option>#}
{#                              <option value="5">Japan</option>#}
{#                            </select>#}
                            <div class="form-group">
                                <label class="control-label col-sm-2" for="email">Staða:</label><br>
                                 <span class="form-control"   id="positions">
                                     {% for position in realtor.positions.all %}{{ position.name }} {% endfor %}
                                 </span>
{#                                {{ form.positions }}#}
{#                            <button class="btn-save btn btn-primary btn-sm">Save</button>#}
                            </div>
                             <div class="form-group">
                                 <label class="control-label col-sm-2" for="email">Netfang:</label>
                                 {{ form.email }}
{#                                 <input type="email" class="form-control" id="email" value='{{ realtor.email }}'>#}
                             </div>
                                <div class="form-group">
                                 <label class="control-label col-sm-2" for="email">Mynd:</label>
                                 {{ form.image }}
{#                                 <input type="email" class="form-control" id="email" value='{{ realtor.email }}'>#}
                             </div>
                             <div class="form-group">
                                 <label class="control-label col-sm-2" for="description">Lýsing:</label>
                                 {{ form.description }}
{#                                 <textarea class="form-control" rows="4" id="description">{{ realtor.description }}</textarea>#}
                             </div>
                             <div class="form-group">
                               <div class="col-sm-offset-2 col-sm-10">
                                   <button type="submit" class="btn btn-default" id="greenButton">Vista</button>
                               </div>
                             </div>
                         </div>
                     </div>
                    </form>
                 </div>
            </div>
        </div>

        <div class="col-3" >
            <a style="color:white;" class='btn btn-lg btn-block' href='{% url 'property-addProperty' %}'>Bæta við eign</a>
        </div>
    </div>
    </div>


    <div class="container" >
        <div class="singleProperty">
            {% for property in properties %}
                {% include 'property/singleProperty.html' with property=property %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/multiSelector.js' %}"></script>
{% endblock %}