{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/realtor.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/singleProperty.css' %}">
{% endblock %}



{% block content %}
    <div class="container">
    <div class="row">
        <div class="col-3">
            <img src="../static/images/profilePicFlower.jpg" class="img-responsive" alt="profilePicture" width="170" height="250">
            <p>Fasteignasali Fasteignason</p>
            <button type="submit" class="btn btn-lg btn-block">Breyta mynd</button>
        </div>

        <div class="col-6">
            <div class="container">
                 <div class="row justify-content-center">
                     <div class="col">
                         <div class="contact-form">

                             <select id="example-xss" multiple="multiple">
                              <option value="" disabled selected>Veldu stöðu/r</option>
                              <option value="1">{{ realtor.name }}</option>
                              <option value="2">Germany</option>
                              <option value="3">France</option>
                              <option value="4">Poland</option>
                              <option value="5">Japan</option>
                            </select>
                            <button class="btn-save btn btn-primary btn-sm">Save</button>

                             <div class="form-group">
                                 <label class="control-label col-sm-2" for="email">Netfang:</label>
                                 <input type="email" class="form-control" id="email" placeholder="fasteign@fasteign.is">
                             </div>
                             <div class="form-group">
                                 <label class="control-label col-sm-2" for="description">Lýsing:</label>
                                 <textarea class="form-control" rows="4" id="description"></textarea>
                             </div>
                             <div class="form-group">
                               <div class="col-sm-offset-2 col-sm-10">
                                   <button type="submit" class="btn btn-default" id="greenButton">Vista</button>
                               </div>
                             </div>
                         </div>
                     </div>
                 </div>
            </div>
        </div>

        <div class="col-3" >
            <button type="submit" class="btn btn-lg btn-block" id="button1">Bæta við eign</button>
        </div>
    </div>
    </div>


    <div class="container" >
        <div class="singleProperty">
            {% for property in properties %}
                {% include 'property/singleProperty.html' with property=property %}
            {% endfor %}
        </div>
    </div>

{% endblock %}

{% block script %}
    <script src="{% static 'js/multiSelector.js' %}"></script>
{% endblock %}