{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static  'css/userProfile.css' %}">
{% endblock %}

{% block content %}
<div class="container adjustFooter">
    <div class="container topContainer">
        <div class="row">
            <div class="col-4 userInfo">
                <div class="row">
                    <div class="col icon">
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="col userText">
                        <div class="userName">
                            <h6> {{ user.first_name }}</h6>
                        </div>
                        <div class="userEmail">
                            <h6> {{ user.email }}</h6>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4">
                <p></p>
            </div>

            <div class="col-4 buttonDiv">
                <button type="button" class="btn float-right btnMyOffers"> <h5> Skoða mín tilboð </h5></button>
            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3><u>Vistaðar eignir</u></h3>
        </div>
    </div>

    <div class="container">
      <div class="row">

        <div class="col-4 leftClass">
          <h3>Property 1</h3>
        </div>

        <div class="col-4 middleClass">
            <h3>Property 2</h3>
        </div>

        <div class="col-4 rightClass">
            <h3>Property 3</h3>
            </button>
        </div>
      </div>
    </div>
</div>
{% endblock %}






