{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static  'css/userProfile.css' %}">
    <link rel="stylesheet" href ="{% static 'css/singleProperty.css' %}">
{% endblock %}

{% block content %}
<div class="container adjustFooter">
    <div class="container topContainer">
        <div class="row">
            <div class="col-4 userInfo">
                <div class="row">
                    <div class="col icon">
                        <i class="fa fa-user"></i>
                    </div>

                    <div class="col userText">
                        <div class="userName">
                            <h6> {{ user.first_name }}</h6>
                        </div>
                        <div class="userEmail">
                            <h6> {{ user.email }}</h6>
                        </div>
                    </div>

                </div>
            </div>

            <div class="col-4">
                <p></p>
            </div>

            <div class="col-4 buttonDiv">

            </div>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <h3><u>Vistaðar eignir</u></h3>
        </div>
    </div>

    <div class="container">
        <div class="row" id="favProp">
              {% for favourite in favourites %}
                  <div class="col-4" id="singleFav">
                 {% include 'property/singleProperty.html' with property=favourite %}
                  </div>
              {% endfor %}
        </div>
    </div>



</div>
{% endblock %}






