{% extends 'base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/openHouse.css' %}">
{% endblock %}

{% block content %}
    <div class="container adjustFooter">
        <h1 class="centerText">Hafa samband</h1>
        <p class="centerText">Hér getur þú óskað eftir opnu húsi eða einkaskoðun á þeirri eign sem þér líst á.</p>

        <form role="form" action="" method="post">
            {% csrf_token %}
            {{ form }}
            <button type="submit" class="btn btnSubmit buttonGreen">Senda inn fyrirspurn</button>
        </form>
    </div>

{% endblock %}