 <div class="column">
    <div class="card">
        <img class="realtorImg" src="{{ realtor.image }}" alt="Person" style="width:100%">
        <div class="container">
            <h2>{{ realtor.name }}</h2>
            <p class="title">
            {% for position in realtor.positions.all %}
                {{ position.name }}
            {% endfor %}
            </p>
            <p class="description">{{ realtor.description }}</p>
            <p class="email">{{ realtor.email }}</p>
        </div>
    </div>
 </div>
