{% extends 'base.html' %}


{% load static %}

{% block css %}
        <link rel="stylesheet" href="{% static 'css/property.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css'%}">
{% endblock%}

{% block content %}

<div class="container-fluid property">
  <div class="row">
    <div class="col-xl-9 col-lg-12 col-md-12 leftClass">
        <img class="propertyImage" src="{{ property.propertyimage_set.first.image }}">
        <button type="button" class="btn btn-light border-dark allPhotosButton float-right">
        Skoða allar myndir <i class="fa fa-arrow-right"></i>
        </button>
    </div>
    <div class="col rightClass">
    <div class="col leftInfo">
      <div class="mainInfo">
          <h3>{{ property.streetName }}</h3>
          <h5>{{ property.zip }} {{ property.zone }}</h5>
      </div>
        <i class="material-icons float-left">rounded_corner</i>
        <p class="propertyInfo">{{ property.squareMeter }} m<sup>2</sup></p>
        <i class="material-icons float-left">meeting_room</i>
        <p class="propertyInfo">{{ property.rooms }} herbergi</p>
        <i class="material-icons float-left">domain</i>
        <p class="propertyInfo">{{ property.type }}</p>
        <p id="secondInfo"> Brunabótamat: <span class="ml-3">{{ property.fireInsurance }} </span></p>
        <p> Fasteignamat: <span class="ml-3">{{ property.propValue }}</span></p>
        <p id="shortDescription">{{ property.shortDescription }}</p>
    </div>
             <div class="col">
                  <div class="">
                      <h3 class="thePrice">{{ property.price|floatformat }}</h3>
                      <button type="button" class="btn btn-offer">SENDA TILBOÐ</button>
                  </div>

            </div>
{#            <button type="button" class="btn btn-light border-dark favoriteIcon">#}
{#                    <i class="fa fa-heart"></i>#}
{#            </button>#}
    </div>
</div>
</div>
{% endblock %}