.col-xs-6 {
    background-color: #505666;
    color: white;
}

.footer-link{
    color:white;
}

a:hover {
    color: #198C94;
}

.secondLogo {
    max-height: 85px;
}

.rightDiv {
    text-align: right;
}

.page-footer{
    position: absolute;
    width:100% !important;
    bottom:0;
    z-index: 0;
    display: block;
}



