.centerText {
    text-align: center;
}

.adjustFooter {
    min-height: 80vh;
}

.adjustContent {
    margin-top: 70px;
}

h1 {
    padding-top: 40px;
}

.logoDiv {
    text-align: center;
}

.controls {
    margin-left: 85px;
    margin-right: 85px;
}

.buttonGreen {
    margin-top: 10px;
    background-color: #2eb8b8;
    width: 30%;
    padding: 3px 16px;
    color:white;
}

.buttonGreen:hover {
    color: #33787b;
}
