body {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  color:#505666;
}

.container{
    /*margin-top: 2em;*/
}


.leftClass{
    margin-right:0;
    padding-right:0 !important;
    max-height:1570px;
    max-width:1155px;

}


.allPhotosButton{
    float: right !important;
    position:absolute;
    bottom:0;
    right:1.2%;
}

.rightClass{
    background-color: rgba(196,196,196,0.5);
    border-radius: 2px;
    position: relative;
    margin-left:0 !important;
    min-width:220px;
    padding-right:0 !important;
    padding-left:0 !important;
}

.allInfo{
    margin-right: 1em;
}

.btn-offer{
    background-color: #198C94;
    color: white;
    margin-top:0 !important;
}

.propertyImage{
    width:100%;
    height:auto;
}


.smallImage{
    height:48%;
}

.property{
    margin-left:0 !important;
    padding-left:0 !important;
}

#secondInfo{
    margin-top:10%;
}


.bottomInfo{
    /*position:absolute;*/
    /*bottom:0;*/
    /*right:50%;*/
    /*margin-right:0 !important;*/

}

.mainInfo{
    margin-bottom:10%;
}
.leftInfo{
    /*padding-right:0;*/
    /*padding-left:0;*/
}

.allImages{
    width:100%;
    height:auto;
}

.allImagesClass{
    margin:0 !important;
    padding:0 !important;
}

.description{
    margin-top:40px;
    margin-bottom:40px;
}





