body {
  background: white;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.container{
    margin-top: 2em;
}

.leftClass{
    background-color: #52c5c6;
    max-height: 50em;
}

.middleClass{
    background-color: white;
    margin-left: 1em;
    margin-right: 1em;
}
.topPhoto{
    background-color: #3d9299;
}
.bottomPhoto{
    background-color: #33787b;
}

.allPhotosButton{
    float: right !important;
}

.rightClass{
    background-color: rgba(196, 196, 196, 0.47);
    border-radius: 2px;
}

.allInfo{
    margin-right: 1em;
}

.btn-offer{
    background-color: #198C94;
    color: white;
}
.thePrice{
    float: right;
}