 {% extends 'base.html' %}
    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% endblock %}
    {% block content %}

        <div class="container">
            <div class="row">
            <div class="col">
            </div>
            <div class="col logoDiv">
                <img class="secondLogo" src="{% static 'images/logo2.png'%}">
            </div>
            <div class="col">
            </div>
        </div>
        </div>
        <div class="container login-container">
            <div class='alert alert-success'>
                Lykilorðið hefur verið endurstillt.
            </div>
            <div class="container text-center">
                <a href="{% url 'login-index' %}" class="btnSubmit btn btn-secondary">Innskráning</a>
            </div>
        </div>
    {%  endblock %}