 {% extends 'base.html' %}
    {% load static %}
    {% block css %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}">
        <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    {% endblock %}
    {% block content %}

        <div class="container">
            <div class="row">
            <div class="col">
            </div>
            <div class="col logoDiv">
                <img class="secondLogo" src="{% static 'images/logo2.png'%}">
            </div>
            <div class="col">
            </div>
        </div>
        </div>
        <div class="container">
             <form method="POST">
                 {% csrf_token %}
                 <div class="form-group login-container"  id="center-text" >
                    {{ form }}<br>
                     <span class="helptext">
                        <ul style='list-style-type: none;'>
                            <li>Your password can't be too similar to your other personal information.</li>
                            <li>Your password must contain at least 8 characters.</li>
                            <li>Your password can't be a commonly used password.</li>
                            <li>Your password can't be entirely numeric.</li>
                        </ul>
                    </span>
                    <br>
                    <button class="btnSubmit btn" type="submit">Endurstilla lykilorð</button> <br><br>
                 </div>
             </form>
        </div>
    {%  endblock %}

